.RightNav {
  display: flex;
  list-style: none;
  align-items: center;

  flex-flow: column nowrap;
  background-color: #669595;

  border-radius: 5px;

  width: 20%;
}

.rightNavHeader {
  display: flex;
  align-items: center;
  background-color: rgb(204, 238, 207);
  height: 7%;
  width: 100%;
}

.buttonSearch {
  display: flex;
  height: 3px;
  width: 85%;
  margin-bottom: 10%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.buttonSearch button {
  cursor: pointer;
  border-radius: 50%;
  outline: none;
}

.buttonSearch svg {
  height: 35px;
  width: 35px;
  fill: #ffffff;
}

.rightNavBody {
  width: 90%;
}

.rightNavHeader p {
  font-size: 22px;
  margin-left: 10px;
}

.findMenu {
  height: 55px;
  width: 55px;
  background-color: rgb(6, 10, 31);
}
