.main {
  height: 92vh;
  width: 100%;
  background-color: rgb(213, 219, 219);
  display: flex;
  flex: 1;
  flex-direction: row;
}

.items {
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  justify-content: flex-start;
  align-items: center;

  overflow-x: hidden;
  overflow-y: auto;
}

.screenItems {
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 85%;
  flex-direction: column;
}

.title {
  margin-top: 1%;
}
