.main {
  margin: 2% 5% 2% 5%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 2px solid black;
}

.body {
  border-top: 2px solid rgb(12, 11, 11);
  border-bottom: 2px solid rgb(12, 11, 11);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.button {
  border: 1px solid blue;
  background-color: rgb(76, 78, 76);
  margin: 3%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  font-size: xx-large;
  color: aliceblue;
}

.buttonDisabled {
  border: 1px solid rgb(166, 166, 177);
  background-color: rgb(212, 214, 212);
  margin: 3%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  outline: none;
  font-size: xx-large;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
