.main {
  border-top: 1px solid rgb(12, 11, 11);
  border-bottom: 1px solid rgb(12, 11, 11);
  padding: 1%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2%;
  width: 100%;
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.button {
  border: 1px solid blue;
  background-color: rgb(76, 78, 76);
  margin: 3%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  font-size: xx-large;
  color: aliceblue;
}

.buttonDisabled {
  border: 1px solid rgb(166, 166, 177);
  background-color: rgb(212, 214, 212);
  margin: 3%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  outline: none;
  font-size: xx-large;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quantityButtons {
  display: flex;
}

.add {
  cursor: pointer;
  outline: none;
  background-color: green;
  border-radius: 10%;
  margin-left: 3%;
  width: 15%;
  box-shadow: 0 3px #666;
}

.add:active {
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}

.decrease {
  cursor: pointer;
  outline: none;
  background-color: orange;
  border-radius: 10%;
  margin-left: 3%;
  width: 15%;
  box-shadow: 0 3px #666;
}

.decrease:active {
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}

.remove {
  cursor: pointer;
  outline: none;
  background-color: red;
  border-radius: 10%;
  margin-left: 3%;
  width: 15%;
  box-shadow: 0 3px #666;
}

.remove:active {
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}

.imgProd {
  height: 100px;
}
